openapi: 3.0.3

info:
  title: Agora API
  version: "1.0.0"
  description: |
    API permettant d'interroger des bases de fréquences lexicales construites à
    partir d'un corpus de presse numérique française contemporaine (Le Monde,
    Le Parisien, Mediapart, Les Échos, etc.).

    ### 📚 Utilisation rapide
    Les routes de données retournent du **CSV** (`text/plain`) ; les routes de
    service retournent du **JSON**.

    Exemple R :
    ```r
    read.csv("https://shiny.ens-paris-saclay.fr/guni/agora/query?corpus=leparisien&mot=inflation")
    ```

    Exemple Python :
    ```python
    import pandas as pd
    pd.read_csv("https://shiny.ens-paris-saclay.fr/guni/agora/query"
                "?corpus=leparisien&mot=inflation&resolution=annee")
    ```

    ### 🔤 Tokenisation
    Les expressions sont mises en minuscules, les apostrophes typographiques
    normalisées, et la ponctuation retirée. Un mot absent de la base renvoie une
    série à zéro plutôt qu'une erreur.

    ### 🤖 Serveur MCP
    L'API est aussi accessible aux assistants IA (Claude, ChatGPT...) via un
    serveur MCP (*Model Context Protocol*, transport HTTP streamable) exposé
    sur `/mcp`, qui propose les outils `list_corpora` et `query_frequency`.

  contact:
    name: Code source du projet
    url: https://github.com/corto2corto/ngram-press

servers:
  - url: https://shiny.ens-paris-saclay.fr/guni/agora
    description: Serveur principal (ENS Paris-Saclay)

paths:
  /query:
    get:
      summary: Fréquence d'un mot ou syntagme
      description: |
        Retourne le nombre d'occurrences d'un mot ou d'un couple de mots sur une
        période donnée, accompagné du volume total du corpus pour la même période
        (dénominateur permettant de calculer une fréquence relative).

        **Colonnes CSV retournées :** `gram` (l'expression cherchée), `n`
        (occurrences), `total` (mots du corpus sur la période), `annee`, `mois`
        (si résolution `mois`), `jour` (si résolution `jour`).

        **Plusieurs expressions :** séparez-les par une virgule
        (`mot=inflation,chômage`). Chacune donne son propre groupe de lignes,
        identifié par la colonne `gram`.

        **Limitation :** 1 ou 2 mots par expression. Les bigrammes ne sont
        disponibles que pour les corpus dont la base 2-gram est construite —
        voir `avec_2gram` sur la route racine.
      parameters:
        - $ref: '#/components/parameters/CorpusParam'
        - name: mot
          in: query
          description: |
            Mot ou syntagme de 1 à 2 mots. Plusieurs expressions peuvent être
            demandées en une requête, séparées par une virgule.
          required: true
          schema:
            type: string
          example: inflation
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/ToParam'
        - name: resolution
          in: query
          description: Granularité temporelle des résultats. Défaut `mois`.
          required: false
          schema:
            $ref: '#/components/schemas/Resolution'
          example: mois

      responses:
        "200":
          description: CSV des fréquences temporelles
          content:
            text/plain:
              schema:
                type: string
                example: "gram,annee,mois,n,total\ninflation,2023,1,412,8104233\ninflation,2023,2,388,7620118"
        "400":
          description: |
            Paramètre invalide : corpus inconnu, expression de plus de 2 mots,
            base n-gram absente pour ce corpus, ou paramètre `mot` manquant.
          content:
            text/plain:
              schema:
                type: string
                example: "corpus inconnu : lemonde (choix : le_monde, leparisien, mediapart)"

  /corpus:
    get:
      summary: Liste des corpus disponibles
      description: |
        Retourne la liste des identifiants de corpus interrogeables, triée par
        ordre alphabétique. Cette liste est découverte dynamiquement d'après les
        bases présentes sur le serveur : un corpus y apparaît dès que sa base est
        construite, sans redémarrage de l'API.

        C'est la source de vérité pour le paramètre `corpus` des autres routes.
      responses:
        "200":
          description: Tableau JSON des identifiants de corpus
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: ["le_figaro", "le_monde", "leparisien", "les_echos", "mediapart"]

  /catalogue:
    get:
      summary: Corpus disponibles avec périodes couvertes
      description: |
        Version enrichie de `/corpus` : pour chaque corpus, les bornes de dates
        réellement couvertes par la base (lues sur les volumes journaliers) et
        la présence d'une base de bigrammes (syntagmes de 2 mots interrogeables).
      responses:
        "200":
          description: Tableau JSON, un objet par corpus
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    corpus:
                      type: string
                      description: Identifiant du corpus.
                      example: leparisien
                    debut:
                      type: string
                      description: Première date disponible (`AAAA-MM-JJ`).
                      example: "1944-12-18"
                    fin:
                      type: string
                      description: Dernière date disponible (`AAAA-MM-JJ`).
                      example: "2025-06-30"
                    avec_2gram:
                      type: boolean
                      description: Vrai si la base de bigrammes est construite.
                      example: true

  /projection:
    get:
      summary: Forme du pic d'un mot, projetée sur une PCA gelée
      description: |
        Sur la période demandée, l'API ajuste une loi de comptage (mélange
        Bernoulli × binomiale négative) à la série journalière du mot, garde le
        jour le plus surprenant (p-valeur minimale, surprise = −log10 p), découpe
        la fenêtre de 31 valeurs autour de ce pic (jours de parution, ou blocs de
        3 jours), la centre-réduit, et la projette sur les quatre premières
        composantes d'une analyse en composantes principales figée, ajustée une
        fois sur les pics du corpus unifié (36 médias). Détails et fichiers :
        `pca/README.md` du dépôt.

        **Réponse JSON :** `pic` (date `AAAAMMJJ`, surprise, `X_t`, `N_t`),
        `coordonnees` (4 valeurs), `variance` (part de variance de chaque axe),
        `fenetre` (`offsets` −15…+15, `taux` pour 100 000 mots, `z` centrés-réduits)
        et `reconstruction` (31 valeurs, à 4 composantes).
      parameters:
        - $ref: '#/components/parameters/CorpusParam'
        - name: mot
          in: query
          description: Mot ou syntagme de 1 à 2 mots (une seule expression).
          required: true
          schema:
            type: string
          example: guerre
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/ToParam'
        - name: pca
          in: query
          description: PCA gelée. `unifie1j` (par jour de parution) ou `unifie3j` (blocs de 3 jours). Défaut `unifie1j`.
          required: false
          schema:
            type: string
            enum: [unifie1j, unifie3j]
          example: unifie1j
        - name: seuil
          in: query
          description: Seuil de surprise des pics retenus au fit de la PCA, 4 ou 6. Défaut 6.
          required: false
          schema:
            type: integer
            enum: [4, 6]
          example: 6
      responses:
        "200":
          description: Projection du pic (JSON)
          content:
            application/json:
              schema:
                type: object
                properties:
                  mot: { type: string, example: guerre }
                  corpus: { type: string, example: le_monde }
                  pca: { type: string, example: unifie1j }
                  seuil: { type: integer, example: 6 }
                  pic:
                    type: object
                    properties:
                      date: { type: integer, example: 20220224 }
                      surprise: { type: number, example: 41.7 }
                      X_t: { type: integer, example: 412 }
                      N_t: { type: integer, example: 183210 }
                  coordonnees: { type: array, items: { type: number }, example: [2.31, 1.48, -0.43, -3.23] }
                  variance: { type: array, items: { type: number }, example: [0.132, 0.111, 0.079, 0.062] }
                  fenetre:
                    type: object
                    properties:
                      offsets: { type: array, items: { type: integer } }
                      taux: { type: array, items: { type: number } }
                      z: { type: array, items: { type: number } }
                  reconstruction: { type: array, items: { type: number } }
        "400":
          description: |
            Paramètre invalide (corpus, pca ou seuil inconnu, expression de plus
            de 2 mots), période sans jour de parution, fenêtre qui déborde du
            corpus, ou fenêtre plate.
          content:
            text/plain:
              schema:
                type: string
                example: "fenêtre hors du corpus : il faut 15 jours de parution de chaque côté du pic (19441220) dans le_monde"
        "404":
          description: Mot inconnu de la base, aucune occurrence, ou aucun pic (p ≥ 1e-4) sur la période.
          content:
            text/plain:
              schema:
                type: string
                example: "« inflation » : aucun pic sur la période (p ≥ 0.0001)"

  /:
    get:
      summary: État de l'API
      description: |
        Route de service : indique que l'API répond, combien de corpus sont
        disponibles, et lesquels disposent d'une base de bigrammes (donc
        interrogeables avec un syntagme de 2 mots).
      responses:
        "200":
          description: État courant de l'API
          content:
            application/json:
              schema:
                type: object
                properties:
                  api:
                    type: string
                    description: Nom de l'API.
                    example: agora
                  corpus:
                    type: integer
                    description: Nombre de corpus disponibles.
                    example: 32
                  avec_2gram:
                    type: array
                    description: Corpus disposant d'une base de bigrammes.
                    items:
                      type: string
                    example: ["le_monde", "leparisien"]

components:
  parameters:
    CorpusParam:
      name: corpus
      in: query
      required: true
      description: |
        Identifiant du corpus à interroger.

        La liste dépend des bases présentes sur le serveur et évolue au fil des
        constructions : appelez **`GET /corpus`** pour obtenir la liste à jour.
        Un identifiant inconnu renvoie une erreur 400 qui énumère les choix
        valides.
      schema:
        type: string
      example: leparisien

    FromParam:
      name: from
      in: query
      description: |
        Borne de début, incluse. Accepte `AAAA`, `AAAA-MM` ou `AAAA-MM-JJ` ;
        une date partielle est complétée au premier jour de la période.
        Défaut `1900`.
      required: false
      schema:
        $ref: '#/components/schemas/Date'
      example: "2020"

    ToParam:
      name: to
      in: query
      description: |
        Borne de fin, incluse. Accepte `AAAA`, `AAAA-MM` ou `AAAA-MM-JJ` ;
        une date partielle est complétée au dernier jour de la période.
        Défaut `2100`.
      required: false
      schema:
        $ref: '#/components/schemas/Date'
      example: "2024"

  schemas:
    Date:
      type: string
      pattern: '^\d{4}(-\d{2}(-\d{2})?)?$'
      description: |
        Date au format `AAAA`, `AAAA-MM` ou `AAAA-MM-JJ`.

    Resolution:
      type: string
      enum: [jour, mois, annee]
      default: mois
      description: |
        Granularité temporelle des résultats.

        | Valeur | Agrégation | Colonnes de date |
        | :--- | :--- | :--- |
        | `jour` | aucune | `annee`, `mois`, `jour` |
        | `mois` | par mois | `annee`, `mois` |
        | `annee` | par année | `annee` |
